name: CI

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  CI:
    name: CI Pipeline

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Setup pnpm
        run: pnpm/actions-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install dependencies
        run: pnpm install
